beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
cycler==0.11.0
DateTime==4.4
finvizfinance==0.12.2
fonttools==4.31.2
fredapi==0.5.0
idna==3.3
kiwisolver==1.4.0
lxml==4.8.0
matplotlib==3.5.1
mplfinance==0.12.8b9
multitasking==0.0.10
numpy==1.22.3
packaging==21.3
pandas==1.4.1
Pillow==9.0.1
pyparsing==3.0.7
python-dateutil==2.8.2
pytrends==4.8.0
pytz==2022.1
requests==2.27.1
six==1.16.0
soupsieve==2.3.1
urllib3==1.26.9
yfinance==0.1.70
zope.interface==5.4.0
